@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Niemo</h1>

    <form action="postForm" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name">
        </div>
        <div class="form-group">
            <label for="Name">Color</label>
            <input type="text" class="form-control" name="Color">
        </div>
        <div class="form-group">
            <label for="Name">Number</label>
            <input type="number" class="form-control" name="Number">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>

    </form>

</div>
